.container {
  max-width: 1200px; /* Ensure max-width is consistent */
  margin: 0 auto;
  padding: 1rem;
}

/* Helpers */
main img {
  width: 100%; /* Set all images to full width */
  height: auto; /* Maintain aspect ratio */
}

/* Section Latest News */
.section-latest-news {
  /* Other styles */
}

/* Media Queries */
@media (max-width: 767px) {
  .section-latest-news .row {
    flex-direction: column; /* Change to column layout */
  }
}

/* Grid section */
.grid {
  /* Other styles */
}

/* Media Queries */
@media (max-width: 767px) {
  :root {
    --section-padding: 5rem 1.5rem; 
    --section-body-padding: 2rem 0 0; 
  }

  ul.row,
  .row {
    flex-direction: column; 
    margin: 0; 
  }

  
  [class^="col-"] {
    margin: 0 0 3rem 0; 
  }

  .col-1-3,
  .col-1-2 {
    width: 100%; 
  }
}

/* Navbar section */
.navbar {
  /* Other styles */
}

/* Media Queries */
@media (max-width: 767px) {
  .navbar-menu {
    display: none; 
  }
}

